

<body>
    <div class="alert alert-success text-center">
        <i class="material-icons" style="font-size:36px;left:10px">public</i>
            <strong style="font-size:2vw;">My Employee Registration Form</strong> 
         <i class="material-icons" style="font-size:36px">computer</i>
    </div>


    <div class="container border border-primary py-2 p-3 d-flex align-items-center" style="width:50%;">
        
            <!-- Material form grid -->
            <form>
                <!-- Grid row -->
                <div class="row" style="width:150%;">
                    <!-- Grid column -->
                    <div class="col">
                        <!-- Material input -->
                        <div class="md-form mt-0">
                            <span class="input-group-text" for="tb_name">First Name</span>
                        </div>
                    </div>
                    <!-- Grid column -->
                    
                    <!-- Grid column -->
                    <div class="col" >
                        <!-- Material input -->
                        <div class="md-form mt-0">
                            <input mdbInput type="text" class="form-control">
                            <label for="form1" class="">First Name</label>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <div class="row">
                    <!-- Grid column -->
                    <div class="col">
                        <!-- Material input -->
                        <div class="md-form mt-0">
                            <span class="input-group-text" for="tb_name">Last Name</span>
                        </div>
                    </div>
                    <!-- Grid column -->
                    
                    <!-- Grid column -->
                    <div class="col">
                        <!-- Material input -->
                        <div class="md-form mt-0">
                            <input mdbInput type="text" class="form-control">
                            <label for="form1" class="">Last Name</label>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <div class="row">
                    <!-- Grid column -->
                    <div class="col">
                        <!-- Material input -->
                        <div class="md-form mt-0">
                            <span class="input-group-text" for="tb_name">Father Name</span>
                        </div>
                    </div>
                    <!-- Grid column -->
                    
                    <!-- Grid column -->
                    <div class="col">
                        <!-- Material input -->
                        <div class="md-form mt-0">
                            <input mdbInput type="text" class="form-control">
                            <label for="form1" class="">Father Name</label>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <div class="row">
                    <!-- Grid column -->
                    <div class="col">
                        <!-- Material input -->
                        <div class="md-form mt-0">
                            <span class="input-group-text" for="tb_name">Phone NUmber</span>
                        </div>
                    </div>
                    <!-- Grid column -->
                    
                    <!-- Grid column -->
                    <div class="col">
                        <!-- Material input -->
                        <div class="md-form mt-0">
                            <input mdbInput type="text" class="form-control">
                            <label for="form1" class="">Phone NUmber</label>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>

                <div class="row">
                    <!-- Grid column -->
                    <div class="col">
                        <!-- Material input -->
                        <button type="button" class="btn btn-success" routerLink="/ca">Submit</button>
                    </div>
                    <!-- Grid column -->
                    
                    <!-- Grid column -->
                    <div class="col">
                        <!-- Material input -->
                        <button type="button" class="btn btn-warning" routerLink="/ca">Reset</button>
                    </div>
                    <!-- Grid column -->
                </div>
               
        </form>
    
    </div>

    


</body>