
<!-- 2 div o -->
    <div class="container-fluid border border-1 border-primary rounded-5 p-1 mx-1 my-1 py-1 px-1 mx-auto"
                style="position:fixed;width:98%;height:98%;bottom:1%;top:1%;left:1%;right:1%;"> 

                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle p-1" style="size: 7px;font-size: 12px;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-images"></i>
                    </button>
                    
                    <!--Menu-->
                        <div class="dropdown-menu dropdown-primary">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          
                        </div>
                    </div>

                                       
                <!-- 3 div o -->
                <div class="container-fluid border border-1 border-primary rounded-5 p-1 mx-1 my-1 py-1 px-1" style="position:fixed;width:97%;height:92%;bottom:1%;top:6%;left:1%;right:1%;">


                    <button type="button" mdbBtn class="rounded-5" size="sm" color="primary" mdbWavesEffect
                    style="size: 30px; width: 16%;">New Mail</button>
                    <!-- Vertical bar for left side  -->
                    <!-- 4 div o -->
                    <div class="container-fluid border border-1 border-primary bg-primary rounded-5 p-1 mx-1 my-1 py-1 px-1" style="width: 20%;scroll-behavior: auto;">

                        <ul>
                            <li>Inbox</li>
                            <li>Inbox</li>
                            <li>Inbox</li>
                            <li>Inbox</li>
                            <li>Inbox</li>
                            <li>Inbox</li>
                            <li>Inbox</li>
                            <li>Inbox</li>
                            <li>Inbox</li>
                            <li>Inbox</li>
                          </ul>

                        <!-- 4 div clos -->
                    </div>


                    <!-- Horizontal bar for first   -->
                    <!-- 5 div o -->
                    <div class="container-fluid border border-1 border-primary rounded-5 p-1 mx-1 my-1 py-1 px-1" style="width: 100%;position: fixed;left: 22%;width: 75%;top: 10%;">

                        Tabs opening Aria

                        <!-- 5 div clos -->
                    </div>


                    
                  

                        <!-- Horizontal bar for Second  First -->
                        <!-- 7 div o -->
                        <div class="container-fluid border border-1 border-primary rounded-5 p-1 mx-1 my-1 py-1 px-1" style="position: fixed;left: 22%;width: 75%;top: 16%;">

                            Title Area

                            <!-- 7 div clos -->
                        </div>


                      <!-- Horizontal bar for Second  second -->
                    <!-- 6 div o -->
                    <div class="container-fluid border border-1 border-primary rounded-5 p-1 mx-1 my-1 py-1 px-1" style="position:fixed;width:75%;height:75%;bottom:12%;top:22%;left:22%;right:1%;
                     overflow-y: auto;overflow-x: hidden;">


                        Inbox shown area


                      

                        <!-- 6 div clos -->
                    </div>
  
  
                <!-- 3 div clo -->
                 </div>
  



    <!-- 2 div close -->
    </div>

