


<br>
<h1 class="border border-primary alert-primary rounded-pill text-center">Login Form</h1><br>
<div class="py-2 p-3 d-flex align-items-center border border-primary rounded-5" style="width:30%;">
    <form>
        <div class="row">
            <div class="col-md-12 align-items-center py-8 rounded-pill">
                <!-- Material input -->
                <div class="md-form mt-0 alert-success border border-primary rounded-pill">
                    <p class="text-center py-1 rounded-pill" for="tb_name">Login Form</p>
                </div>
            </div>
            <div class="row"></div>
            <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form mt-0">
                    <span class="input-group-text" for="tb_name">User Name</span>
                </div>
            </div>
            <!-- Grid column -->
            
            <!-- Grid column -->
            <div class="col-md-6" >
                <!-- Material input -->
                <div class="md-form mt-0 form-outline">
                    <input mdbInput type="text" ngModel name="uname" class="form-control" id="tb_name">
                    <label for="form1" class="">User Name</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form mt-0">
                    <span class="input-group-text" for="tb_name">Password</span>
                </div>
            </div>
            <!-- Grid column -->
            
            <!-- Grid column -->
            <div class="col-md-6" >
                <!-- Material input -->
                <div class="md-form mt-0 form-outline">
                    <input mdbInput type="password" ngModel name="uname" class="form-control" id="tb_name">
                    <label for="form1" class="">Password</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form mt-0">
                   
                </div>
            </div>
            <!-- Grid column -->
            
            <!-- Grid column -->
            <div class="col-md-6" >
                <!-- Material input -->
                <div class="md-form mt-0 form-outline">
                    
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Grid column -->
            <div class="col-6">
                <!-- Material input -->
                <button type="submit" class="btn btn-success" style="width: 100%;">Submit</button>
            </div>
            <!-- Grid column -->
            
            <!-- Grid column -->
            <div class="col-6">
                <!-- Material input -->
                <button type="reset" class="btn btn-warning" style="width: 100%;">Reset</button>
            </div>
            <!-- Grid column -->
        </div>
        

    </form>

</div>