
<header class="page-header font-small blue pt-4">
<div class="rounded-5 text-center"><strong style="font-size: 30px;">Login</strong></div>
</header>
<div class="container py-2 p-3 align-items-center rounded-5 float-sm-none w-50" >
    <span *ngIf="messageShow" class="text-danger"> User Name and Password Wrong !! </span>
    <span *ngIf="messageShow2" class="text-success"> Successfully Login !! </span>
    <form mdbForm class="" #getData="ngForm" (ngSubmit)="onValidate(getData.value)" novalidate>
        <div class="row py-5">
            <div class="col-md-8" >
                <div class="md-form mt-0 form-outline" >
                    <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
                    <input type="email" id="tb_email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]{2,}$" 
                      #email="ngModel" [class.is-invalid]="email.invalid && email.touched" name="email" 
                      ngModel required mdbInput>
                    <label for="tb_email" class="">Email Id</label>
                    <div class="invalid-feedback" id="div_email">
                        Enter Your Proper Mail Id (like: "john@mail")
                    </div> 
                </div>
            </div>
        </div>
        <!-- ^[a-z0-9_-]{8,15}$ -->
        <div class="row py-5">
            <div class="col-md-8" >
                <div class="md-form mt-0 form-outline">
                    <mdb-icon fas icon="key" class="prefix"></mdb-icon>
                    <input type="password" id="tb_pass" class="form-control" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,15}$" 
                        #pass="ngModel" [class.is-invalid]="pass.invalid && pass.touched" name="pass"
                        autocomplete="on" ngModel required mdbInput>
                    <label for="tb_pass" class="">Password</label>
                <div class="invalid-feedback" id="div_pass">
                   Password must be 8 to 15 length(1 symbol,1 caps, 1 small and 1 number )
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <button type="submit" class="btn btn-primary w-100" id="submit" [disabled]="getData.form.invalid">Login</button>
            </div>
            
        </div>
        

    </form>


</div>

<br><br>
<footer class="page-footer font-small blue pt-4 fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="https://mdbootstrap.com/"> Company.com</a>
    </div>
</footer>





<router-outlet></router-outlet>
