
<body onload="btnDisable()">


<!-- Nav Bar sTart -->
<!-- navbar-light bg-light -->
<nav class="navbar navbar-expand-lg navbar-dark indigo rounded-5">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <i class="material-icons" style="font-size:36px;left:10px">public</i>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employee">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sport">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/feedback">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About us</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <!-- Notifications -->
      <a
        class="text-reset me-3 dropdown-toggle hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fas fa-bell"></i>
        <span class="badge rounded-pill badge-notification bg-danger">1</span>
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <li>
          <a class="dropdown-item" routerLink="/">Login</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/employee">Employees</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/sport">Sports</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/feedback">Feedback</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/about">About us</a>
        </li>
      </ul>

      <!-- Avatar -->
      <a
        class="dropdown-toggle d-flex align-items-center hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://mdbootstrap.com/img/new/avatars/2.jpg"
          class="rounded-circle"
          height="25"
          alt=""
          loading="lazy"
        />
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuLink"
      >
      <li>
        <a class="dropdown-item" routerLink="/">Login</a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/employee">Employees</a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/sport">Sports</a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/feedback">Feedback</a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/about">About us</a>
      </li>
      </ul>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
  




      <br />
<!--  novalidate  -->
<header class="page-header font-small blue pt-4">
<div class="rounded-5 text-center md-display-5">Login</div>
</header>
<div class="container py-2 p-3 align-items-center rounded-5 float-sm-none w-50" >
    <form  mdbForm class="was-validated1"  #getData="ngForm" (ngSubmit)="onValidate(getData.value)" novalidate>
        <div class="row py-5">
            <div class="col-md-8" >
                <!-- Material input -->
                <div class="md-form mt-0 form-outline" >
                    <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
                    <input  type="email" name="email" class="form-control" id="tb_email" required ngModel mdbInput
                    onfocusout="email_check()">
                    <label for="tb_email" class="">Email Id</label>
                    <div class="invalid-feedback" id="div_email">
                        Enter Your Proper Mail Id (like: "john@mail")
                    </div> 
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-md-8" >
                <div class="md-form mt-0 form-outline">
                    <mdb-icon fas icon="key" class="prefix"></mdb-icon>
                    <input mdbInput type="password" ngModel name="pass" class="form-control" id="tb_pass" required minlength="8"
                    ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" onfocusout="pass_check()">
                     <!-- inputmode="alphanumeric" -->
                    <label for="tb_pass" class="">Password</label>
                <div class="invalid-feedback" id="div_pass">
                   Password must be 8 length(1 symbol,1 captial letter, 1 small letter and 1 number must be)
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" class="btn btn-success" style="width: 100%;" id="submit">Login</button>
            </div>
            <div class="col-4">
                <button type="reset" class="btn btn-warning" style="width: 100%;">Reset</button>
            </div>
        </div>
        

    </form>


</div>

<br><br>
<footer class="page-footer font-small blue pt-4 fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="https://mdbootstrap.com/"> Company.com</a>
    </div>
</footer>

</body>





<router-outlet></router-outlet>
