
<!-- Nav Bar sTart -->
<!-- navbar-light bg-light -->
<nav class="navbar navbar-expand-lg navbar-dark indigo rounded-5">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img src="{{pic_csk}}" class="rounded-8" style="width:40px;height:40px"/>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employee">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sport">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/feedback">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About us</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <!-- Notifications -->
      <a
        class="text-reset me-3 dropdown-toggle hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fas fa-bell"></i>
        <span class="badge rounded-pill badge-notification bg-danger">1</span>
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <li>
          <a class="dropdown-item" routerLink="/">Login</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/employee">Employees</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/sport">Sports</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/feedback">Feedback</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/about">About us</a>
        </li>
      </ul>

      <!-- Avatar -->
      <a
        class="dropdown-toggle d-flex align-items-center hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://mdbootstrap.com/img/new/avatars/2.jpg"
          class="rounded-circle"
          height="25"
          alt=""
          loading="lazy"
        />
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuLink"
      >
      <li>
        <a class="dropdown-item" routerLink="/">Login</a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/employee">Employees</a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/sport">Sports</a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/feedback">Feedback</a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/about">About us</a>
      </li>
      </ul>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
  

      



 <body class="bg-image" 
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
           ">
<section class="my-5">
   

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">About us</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5 note note-primary" >
            The universe is everything. It includes all of space, and all the matter and energy that space contains. It even includes time itself and, of course, it includes you.
    </p>
    <p class="text-center w-responsive mx-auto mb-5 note note-primary">
        Earth and the Moon are part of the universe, as are the other planets and their many dozens of moons. Along with asteroids and comets, the planets orbit the Sun. The Sun is one among hundreds of billions of stars in the Milky Way galaxy, and most of those stars have their own planets, known as exoplanets.
     
        The Milky Way is but one of billions of galaxies in the observable universe — all of them, including our own, are thought to have supermassive black holes at their centers. All the stars in all the galaxies and all the other stuff that astronomers can’t even observe are all part of the universe. It is, simply, everything.
        
        
        The star-forming nebula W51 is one of the largest "star factories" in the Milky Way galaxy. "Star factories" like this one can op.
    </p>
    <p class="text-center w-responsive mx-auto mb-5 note note-primary" >
        The universe is everything. It includes all of space, and all the matter and energy that space contains. It even includes time itself and, of course, it includes you.
</p>
<p class="text-center w-responsive mx-auto mb-5 note note-primary">
    Earth and the Moon are part of the universe, as are the other planets and their many dozens of moons. Along with asteroids and comets, the planets orbit the Sun. The Sun is one among hundreds of billions of stars in the Milky Way galaxy, and most of those stars have their own planets, known as exoplanets.
 
    The Milky Way is but one of billions of galaxies in the observable universe — all of them, including our own, are thought to have supermassive black holes at their centers. All the stars in all the galaxies and all the other stuff that astronomers can’t even observe are all part of the universe. It is, simply, everything.
    
    
    The star-forming nebula W51 is one of the largest "star factories" in the Milky Way galaxy. "Star factories" like this one can op.
</p><p class="text-center w-responsive mx-auto mb-5 note note-primary" >
    The universe is everything. It includes all of space, and all the matter and energy that space contains. It even includes time itself and, of course, it includes you.
</p>
<p class="text-center w-responsive mx-auto mb-5 note note-primary">
Earth and the Moon are part of the universe, as are the other planets and their many dozens of moons. Along with asteroids and comets, the planets orbit the Sun. The Sun is one among hundreds of billions of stars in the Milky Way galaxy, and most of those stars have their own planets, known as exoplanets.

The Milky Way is but one of billions of galaxies in the observable universe — all of them, including our own, are thought to have supermassive black holes at their centers. All the stars in all the galaxies and all the other stuff that astronomers can’t even observe are all part of the universe. It is, simply, everything.


The star-forming nebula W51 is one of the largest "star factories" in the Milky Way galaxy. "Star factories" like this one can op.
</p><p class="text-center w-responsive mx-auto mb-5 note note-primary" >
    The universe is everything. It includes all of space, and all the matter and energy that space contains. It even includes time itself and, of course, it includes you.
</p>
<p class="text-center w-responsive mx-auto mb-5 note note-primary">
Earth and the Moon are part of the universe, as are the other planets and their many dozens of moons. Along with asteroids and comets, the planets orbit the Sun. The Sun is one among hundreds of billions of stars in the Milky Way galaxy, and most of those stars have their own planets, known as exoplanets.

The Milky Way is but one of billions of galaxies in the observable universe — all of them, including our own, are thought to have supermassive black holes at their centers. All the stars in all the galaxies and all the other stuff that astronomers can’t even observe are all part of the universe. It is, simply, everything.


The star-forming nebula W51 is one of the largest "star factories" in the Milky Way galaxy. "Star factories" like this one can op.
</p><p class="text-center w-responsive mx-auto mb-5 note note-primary" >
    The universe is everything. It includes all of space, and all the matter and energy that space contains. It even includes time itself and, of course, it includes you.
</p>
<p class="text-center w-responsive mx-auto mb-5 note note-primary">
Earth and the Moon are part of the universe, as are the other planets and their many dozens of moons. Along with asteroids and comets, the planets orbit the Sun. The Sun is one among hundreds of billions of stars in the Milky Way galaxy, and most of those stars have their own planets, known as exoplanets.

The Milky Way is but one of billions of galaxies in the observable universe — all of them, including our own, are thought to have supermassive black holes at their centers. All the stars in all the galaxies and all the other stuff that astronomers can’t even observe are all part of the universe. It is, simply, everything.


The star-forming nebula W51 is one of the largest "star factories" in the Milky Way galaxy. "Star factories" like this one can op.
</p><p class="text-center w-responsive mx-auto mb-5 note note-primary" >
    The universe is everything. It includes all of space, and all the matter and energy that space contains. It even includes time itself and, of course, it includes you.
</p>
<p class="text-center w-responsive mx-auto mb-5 note note-primary">
Earth and the Moon are part of the universe, as are the other planets and their many dozens of moons. Along with asteroids and comets, the planets orbit the Sun. The Sun is one among hundreds of billions of stars in the Milky Way galaxy, and most of those stars have their own planets, known as exoplanets.

The Milky Way is but one of billions of galaxies in the observable universe — all of them, including our own, are thought to have supermassive black holes at their centers. All the stars in all the galaxies and all the other stuff that astronomers can’t even observe are all part of the universe. It is, simply, everything.


The star-forming nebula W51 is one of the largest "star factories" in the Milky Way galaxy. "Star factories" like this one can op.
</p>

</section>




<br><br><br><br>
<footer class="page-footer font-small blue pt-4 fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="https://mdbootstrap.com/"> Company.com</a>
      </div>
    </footer>
</body>