<app-header></app-header>  
   



 <body class="bg-image" 
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
           ">
<section class="my-5">
   

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">About us</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5 note note-primary" >
            The universe is everything. It includes all of space, and all the matter and energy that space contains. It even includes time itself and, of course, it includes you.
    </p>
    <p class="text-center w-responsive mx-auto mb-5 note note-primary">
        Earth and the Moon are part of the universe, as are the other planets and their many dozens of moons. Along with asteroids and comets, the planets orbit the Sun. The Sun is one among hundreds of billions of stars in the Milky Way galaxy, and most of those stars have their own planets, known as exoplanets.
     
        The Milky Way is but one of billions of galaxies in the observable universe — all of them, including our own, are thought to have supermassive black holes at their centers. All the stars in all the galaxies and all the other stuff that astronomers can’t even observe are all part of the universe. It is, simply, everything.
        
        
        The star-forming nebula W51 is one of the largest "star factories" in the Milky Way galaxy. "Star factories" like this one can op.
    </p>
    <p class="text-center w-responsive mx-auto mb-5 note note-primary" >
        The universe is everything. It includes all of space, and all the matter and energy that space contains. It even includes time itself and, of course, it includes you.
</p>
<p class="text-center w-responsive mx-auto mb-5 note note-primary">
    Earth and the Moon are part of the universe, as are the other planets and their many dozens of moons. Along with asteroids and comets, the planets orbit the Sun. The Sun is one among hundreds of billions of stars in the Milky Way galaxy, and most of those stars have their own planets, known as exoplanets.
 
    The Milky Way is but one of billions of galaxies in the observable universe — all of them, including our own, are thought to have supermassive black holes at their centers. All the stars in all the galaxies and all the other stuff that astronomers can’t even observe are all part of the universe. It is, simply, everything.
    
    
    The star-forming nebula W51 is one of the largest "star factories" in the Milky Way galaxy. "Star factories" like this one can op.
</p><p class="text-center w-responsive mx-auto mb-5 note note-primary" >
    The universe is everything. It includes all of space, and all the matter and energy that space contains. It even includes time itself and, of course, it includes you.
</p>
<p class="text-center w-responsive mx-auto mb-5 note note-primary">
Earth and the Moon are part of the universe, as are the other planets and their many dozens of moons. Along with asteroids and comets, the planets orbit the Sun. The Sun is one among hundreds of billions of stars in the Milky Way galaxy, and most of those stars have their own planets, known as exoplanets.

The Milky Way is but one of billions of galaxies in the observable universe — all of them, including our own, are thought to have supermassive black holes at their centers. All the stars in all the galaxies and all the other stuff that astronomers can’t even observe are all part of the universe. It is, simply, everything.


The star-forming nebula W51 is one of the largest "star factories" in the Milky Way galaxy. "Star factories" like this one can op.
</p><p class="text-center w-responsive mx-auto mb-5 note note-primary" >
    The universe is everything. It includes all of space, and all the matter and energy that space contains. It even includes time itself and, of course, it includes you.
</p>
<p class="text-center w-responsive mx-auto mb-5 note note-primary">
Earth and the Moon are part of the universe, as are the other planets and their many dozens of moons. Along with asteroids and comets, the planets orbit the Sun. The Sun is one among hundreds of billions of stars in the Milky Way galaxy, and most of those stars have their own planets, known as exoplanets.

The Milky Way is but one of billions of galaxies in the observable universe — all of them, including our own, are thought to have supermassive black holes at their centers. All the stars in all the galaxies and all the other stuff that astronomers can’t even observe are all part of the universe. It is, simply, everything.


The star-forming nebula W51 is one of the largest "star factories" in the Milky Way galaxy. "Star factories" like this one can op.
</p><p class="text-center w-responsive mx-auto mb-5 note note-primary" >
    The universe is everything. It includes all of space, and all the matter and energy that space contains. It even includes time itself and, of course, it includes you.
</p>
<p class="text-center w-responsive mx-auto mb-5 note note-primary">
Earth and the Moon are part of the universe, as are the other planets and their many dozens of moons. Along with asteroids and comets, the planets orbit the Sun. The Sun is one among hundreds of billions of stars in the Milky Way galaxy, and most of those stars have their own planets, known as exoplanets.

The Milky Way is but one of billions of galaxies in the observable universe — all of them, including our own, are thought to have supermassive black holes at their centers. All the stars in all the galaxies and all the other stuff that astronomers can’t even observe are all part of the universe. It is, simply, everything.


The star-forming nebula W51 is one of the largest "star factories" in the Milky Way galaxy. "Star factories" like this one can op.
</p><p class="text-center w-responsive mx-auto mb-5 note note-primary" >
    The universe is everything. It includes all of space, and all the matter and energy that space contains. It even includes time itself and, of course, it includes you.
</p>
<p class="text-center w-responsive mx-auto mb-5 note note-primary">
Earth and the Moon are part of the universe, as are the other planets and their many dozens of moons. Along with asteroids and comets, the planets orbit the Sun. The Sun is one among hundreds of billions of stars in the Milky Way galaxy, and most of those stars have their own planets, known as exoplanets.

The Milky Way is but one of billions of galaxies in the observable universe — all of them, including our own, are thought to have supermassive black holes at their centers. All the stars in all the galaxies and all the other stuff that astronomers can’t even observe are all part of the universe. It is, simply, everything.


The star-forming nebula W51 is one of the largest "star factories" in the Milky Way galaxy. "Star factories" like this one can op.
</p>

</section>




<br><br><br><br>
<footer class="page-footer font-small blue pt-4 fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="https://mdbootstrap.com/"> Company.com</a>
      </div>
    </footer>
</body>