<head>
    <style>
    body  {
      background-color: #2365c7;
      height: 100%;
      width: 100%;
    }
    div {
   /* Background pattern from Toptal Subtle Patterns */
   background: url("D:/prodian_workspace/Traning/Angular/MDB-Routing/src/images/img1.jpg");
   height: 400px;
   width: 100%;
}
   </style>
    </head>
<body>


<div class="container" 
style="width: 100%;
height: 100%;">This  is the Home Page !!</div>
<marquee>This  is the Home Page !!</marquee>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>