<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
  <title>Employee Registration Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="D:\prodian_workspace\Traning\plugins\bootstrap-4.3.1-dist\css\bootstrap.min.css"> -->
    <!-- Icons Link -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
<link rel="icon" href="D:\prodian_workspace\Traning\Icons\pic1.png" type="image/icon type">
  <script type="text/javascript" src="D:/prodian_workspace/Traning/plugins/jQuery/jquery.js"></script>
    <link rel="stylesheet" href="D:\prodian_workspace\Traning\plugins\bootstrap-4.3.1-dist\css\bootstrap.min.css">
  <script type="text/javascript" src="D:\prodian_workspace\Traning\plugins\bootstrap-4.3.1-dist\js\bootstrap.min.js"></script> 

    <script type="text/javascript" src="D:\prodian_workspace\Traning\plugins\angular-1.8.2\angular.min.js"></script>

  

<!--    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

<!--   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 -->
</head>
<body ng-controller="myctrl">
  <h1></h1>
<div class="alert alert-success text-center">
  <i class="material-icons" style="font-size:36px;left:10px">public</i>
   <strong style="font-size:2vw;" mytitle></strong> 
   <i class="material-icons" style="font-size:36px">computer</i>
  </div>


  <nav class="navbar navbar-expand-lg navbar-light alert alert-success">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
 <!-- needs-validation was-validated-->
<!-- action="javascript:get_data11()" -->
 <!-- ---------------------------------------------------------------------------- -->
 <div class="container border border-primary py-2 p-3 d-flex align-items-center" style="width:500px;">
  <form ng-submit="save_1()" class="needs-validation" novalidate >
    <div class="row px-2 py-1 d-flex align-items-center">
      <div class="col-sm-12 px-4 py-1 alert alert-success d-flex justify-content-center d-flex align-items-center" 
          > {{title1 + " " + title2}}</div>
      <div class="col-sm-6 px-1 py-1" for="tb_name">
        <span class="input-group-text" for="tb_name">First Name</span>
      </div>
      <div class="col-sm-6 px-1 py-1">
        <input type="text" class="form-control" placeholder="Firstname" ng-model="firname" id="tb_name" required>
         <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
        Type your Firstname.
      </div>
      </div>
   
      <div class="col-sm-6 px-1 py-1">
        <span class="input-group-text" for="tb_lname">Last Name</span>
      </div>
      <div class="col-sm-6 px-1 py-1">
        <input type="text" class="form-control" placeholder="LastName" ng-model="laname" id="tb_lname" required>
          <div class="invalid-tooltip">
            Enter the LastName
           </div>
      </div>
      
      <div class="col-sm-6 px-1 py-1">
        <span class="input-group-text" for="tb_fname">Father Name</span>
      </div>
      <div class="col-sm-6 px-1 py-1">
        <input type="text" class="form-control" placeholder="FatherName" ng-model="faname" id="tb_fname" required>
         <div class="invalid-feedback">
          Enter Your Date of Birth.
        </div>
      </div>
      <div class="col-sm-6 px-1 py-1">
        <span class="input-group-text" >Date of Birth</span>
      </div>
      <div class="col-sm-6 px-1 py-1">
        <input type="date" class="form-control" placeholder="FatherName" id="date" ng-model="dob" required>
      </div>

       <div class="col-sm-6 px-1 py-1">
          <span class="input-group-text" id="basic-addon1" for="tb_email">Email</span>
       </div>
        <div class="col-sm-6 px-1 py-1">
          <input type="email" class="form-control" placeholder="name@domain.com" ng-model="email" id="tb_email" required>
       </div>

        <div class="col-sm-6 px-1 py-1">
          <span class="input-group-text" id="basic-addon1">Gender</span>
        </div>
        <div class="col-sm-6 px-2 py-1 navbar navbar-expand-lg">
           <div class="form-check">
              <input class="form-check-input" type="radio" id="rd_male" value="Male" name="rd_gender" ng-model="gender" required>
                <label class="form-check-label" for="rd_male">
                  Male
                </label>
            </div>
            <div class="form-check px-3">
              <input class="form-check-input" type="radio" id="rd_female" value="Female" name="rd_gender" ng-model="gender" required>
                <label class="form-check-label" for="rd_female">
                  Female
                </label>
            </div>
             <div class="form-check px-4">
              <input class="form-check-input" type="radio" id="rd_other" value="Other" name="rd_gender" ng-model="gender" required>
                <label class="form-check-label" for="rd_other">
                  Other
                </label>
            </div>
          </div>
        <div class="col-sm-6 px-1 py-1">
          <span class="input-group-text" for="tb_ph">Phone Number</span>
        </div>
        <div class="col-sm-6 px-1 py-1">
          <input type="tel" pattern="^\d{10}$" id="tb_ph" class="form-control" ng-model="phone" placeholder="Phone No" required>
        </div>


         <div class="col-sm-6 px-1 py-1">
          <span class="input-group-text" id="basic-addon1">Skills</span>
        </div> 
        <div class="col-sm-2 px-1 py-1">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" value="Java" name="ch_skill" id="ch_java" ng-model="ch_java">
            <label class="custom-control-label" for="ch_java">Java</label>
          </div>
        </div>
        <div class="col-sm-2 px-1 py-1">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" value="HTML" name="ch_skill" id="ch_html" ng-model="ch_html">
            <label class="custom-control-label" for="ch_html">HTML</label>
         </div>
        </div>
        <div class="col-sm-2 px-1 py-1">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" value="Python" name="ch_skill" id="ch_python" ng-model="ch_python">
            <label class="custom-control-label" for="ch_python">Python</label>
            </div>
        </div>

<!--  onclick="get_data()" -->

        <div class="col-sm-6 px-1 py-1">
          <label class="form-control">Photo</label>
        </div>
        <div class="col-sm-6 px-1 py-1">
          <input type="file" class="form-control" ng-model="photo" required>
        </div>
        <hr>
        <div class="col-sm-6 px-1 py-1">
          <input type="submit" class="form-control btn btn-success" value="Submit">
        </div>
        <div class="col-sm-6 px-1 py-1">
          <input type="reset" class="form-control btn btn-warning" value="Reset">
        </div>


    </div>
  </form>
</div>
<br>
<center>
      <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" ng-click="show_1()">
      Show Details on Modal
    </button>
</center>

<br><br>

  <center>
    <div class="alert alert-success float-container" style="position: relative">
      <p style="font-size:30px;font-weight: bold;margin: 0;">Prodian InfoTech</p>
      <div style="width: 500px; text-align: center;position: relative" class="alert alert-success float-child">
        <i class="material-icons" style="font-size:36px">home</i>
            <p style="font-size:20px;font-weight: bold;margin: 0;">Office Address:</p>
            <p style="font-size:15px;margin: 0;">71/73, 1st Floor, 1st Main Road,</p>
            <p style="font-size:15px;margin: 0;">CIT Nagar West, CIT Nagar, Nandanam,</p>
            <p style="font-size:15px;margin: 0;"> Chennai, Tamil Nadu-600035,</p>
            <p style="font-size:15px;margin: 0;">India.</p>
      </div>
        <div style="width: 300px;text-align: center; float: right; position: absolute;left:80%;top: 10px;right: 10px;" class="alert alert-success float-child">
            <i class="material-icons" style="font-size:26px">contacts</i>
            <p style="font-size:20px;margin: 0;font-weight: bold;">Reach Us On: </p>
            <p style="font-size:15px;margin: 0;">Email : info@prodian.co.in</p>
            <p style="font-size:15px;margin: 0;">Phone : 044 4213 5380.</p>
        </div>
    
  </div>
</center>
<!-- ----------------------Models------------------------- -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
        <p id="p_name" ng-model="p_name">{{"First Name :"+An_firname}}<p>
        <p id="p_lname" ng-model="p_lname">{{"Last Name :"+An_laname}}<p>
        <p id="p_fname" ng-model="p_fname">{{"Father Name :"+An_faname}} <p>
        <p id="p_dob" ng-model="p_dob">{{"Date of Birth :"+An_date}}<p>
        <p id="p_email" ng-model="p_email">{{"Email :"+An_email}}<p>
        <p id="p_ph" ng-model="p_ph">{{"Phone No. :"+An_phone}}<p>
        <p id="p_gender" ng-model="p_gender">{{"Gener :"+An_gender}}<p>
        <p id="p_skill" ng-model="p_skill">{{"Skills :"+An_skills}}<p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- ------------------===models end------------------------ -->
<br>

<button ng-click="myctrl_1()">
<i class="material-icons" style="font-size:36px">add_a_photo</i></button>
<a ng-click="myctrl_1()">Open!</a>
<p>The button has been clicked {{count}} times.</p>


</body>

<script type="text/javascript" src="D:/prodian_workspace/Traning/javascript/Form_query.js"></script>

<script type="text/javascript">
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        
        }

        form.classList.add('was-validated')
      }, false)
    })
})()

</script>

</html>