
<!-- Nav Bar sTart -->
<!-- navbar-light bg-light --><div id="nav_bar">
  <nav class="navbar navbar-expand-lg navbar-dark indigo rounded-5">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <!-- <i class="fas fa-bars"></i> -->
       
      </button>
      
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
           <img src="{{pic_csk}}" class="rounded-8" style="width:40px;height:40px"/>
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/employee">Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sport">Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/feedback">Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About us</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
  
        <!-- Notifications -->
        <a
          class="text-reset me-3 dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" routerLink="/">Login</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/employee">Employees</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/sport">Sports</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/feedback">Feedback</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/about">About us</a>
          </li>
        </ul>
  
        <!-- Avatar -->
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://mdbootstrap.com/img/new/avatars/2.jpg"
            class="rounded-circle"
            height="25"
            alt=""
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
        <li>
          <a class="dropdown-item" routerLink="/">Login</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/employee">Employees</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/sport">Sports</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/feedback">Feedback</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/about">About us</a>
        </li>
        </ul>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
    
  
      



<br>
<h1 class="border border-primary blue rounded-5 text-center">Sports Form</h1><br>

<div class="container">
<button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">ADD</button>
</div>

<div class="container row">
          <div class="row col-6">
        <p><strong>Favourite Sports : </strong>{{foot}} {{cri}} {{hoc}} {{bb}} {{chess}} {{kabadi}}</p>
        
      </div>

</div>
<br><br>



<div class="container px-2 mx-3">

<div class="row">
  <ng-container *ngIf="card_FootBall">
      <div class="card w-25 col-3 view overlay zoom" for="materialUnchecked">
        <img
          src="{{pic_football}}"
          class="card-img-top"
          alt="..." for="for_football" 
        />
        
          <div class="card-body" for="for_football">
            <h5 class="card-title" for="ch_football"><label class="form-check-label" for="for_football">Football</label></h5>
            </div>
        </div>
  </ng-container>

  <ng-container *ngIf="card_Cricket">
        <div class="card w-25 col-3">
          <div class="bg-image view overlay zoom" data-mdb-ripple-color="light">
            <img
              src="{{pic_cricket}}"
              class="img-fluid"
            />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="pic_card-body">
            <h5 class="card-title"> <label class="form-check-label" for="for_cricket">Cricket </label></h5>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="card_BasketBall">
        <div class="card w-25 col-3">
          <div class="bg-image view overlay zoom" data-mdb-ripple-color="light">
            <img
              src="{{pic_basketball}}"
              class="img-fluid"
            />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title"><label class="form-check-label" for="for_bball">Basket ball</label></h5>
           
          </div>
        </div>
      </ng-container>
        

        <ng-container *ngIf="card_Hockey">
          <div class="card w-25 col-3">
            <div class="bg-image view overlay zoom" data-mdb-ripple-color="light">
              <img
                src="{{pic_hockey}}"
                class="img-fluid"
              />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title"><label class="form-check-label" for="for_hockey">Hockey </label></h5>
            
            </div>
          </div></ng-container>
       
            
 
         
         <ng-container *ngIf="card_Kabadi">
            <div class="card w-25 col-3">
              <div class="bg-image view overlay zoom" data-mdb-ripple-color="light">
                <img
                  src="{{pic_kabadi}}"
                  class="img-fluid"
                />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title"><label class="form-check-label" for="for_kabadi">Kabadi </label></h5>
              
              </div>
            </div>
          </ng-container>
<!--  {{checking_var}}-->
          <ng-container *ngIf="card_Chess">
              <div class="card w-25 col-3">
                <div class="bg-image view overlay zoom" data-mdb-ripple-color="light">
                  <img
                    src="{{pic_chess}}"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><label class="form-check-label" for="for_chess">Chess </label></h5>
                
                </div>
              </div>
              
     </ng-container>
    </div>

</div>

</div>

<br>


  <!-- ----------------------Models------------------------- -->

 

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sports Lists</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <ul>
          <li *ngFor="let item of checkboxesDataList">
            <input value="{{item.label}}" class="form-check-input form-control" type="checkbox" [(ngModel)]="item.isChecked">{{item.label}}
          </li>
        </ul>

<!-- 
                <div class="form-check">
                  <input type="checkbox" class="form-check-input form-control"  
                      id="for_football" #ng_football="ngModel" ngModel (change)="chb_Football(ng_football)" [ngModel]="true">
                  <label class="form-check-label" for="for_football">Football</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input form-control" id="for_cricket" #ng_cricket="ngModel" ngModel (change)="chb_cricket(ng_cricket)" [ngModel]="true">
                  <label class="form-check-label" for="for_cricket">Cricket </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input form-control" id="for_hockey" #ng_hockey="ngModel" ngModel (change)="chb_hockey(ng_hockey)">
                  <label class="form-check-label" for="for_hockey">Hockey </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input form-control" id="for_bball" #ng_bball="ngModel" ngModel (change)="chb_bball(ng_bball)">
                  <label class="form-check-label" for="for_bball">Basket ball</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input form-control" id="for_kabadi" #ng_kabadi="ngModel" ngModel (change)="chb_kabadi(ng_kabadi)">
                  <label class="form-check-label" for="for_kabadi">Kabadi</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input form-control" id="for_chess" #ng_chess="ngModel" ngModel (change)="chb_chess(ng_chess)">
                  <label class="form-check-label" for="for_chess">Chess</label>
                </div> -->

        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="Save()">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ------------------===models end------------------------ -->



<br>
<!-- <ul>
  <li *ngFor="let item of checkboxesDataList">
    <input value="{{item.label}}" class="form-check-input form-control" type="checkbox" [(ngModel)]="item.isChecked">{{item.label}}
  </li>
</ul> -->



<br>
<br><br><br>

  <footer class="page-footer font-small blue pt-4 fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="https://mdbootstrap.com/"> Company.com</a>
    </div>
</footer>